h3 {
    padding: 20px;
}


/*form {
    margin-left: auto !important;
    margin-right: auto !important;
}*/

#registroUsuario {
    padding-left: 20px;
}

.bg-image {
    background-image: url("https://i.ibb.co/FwwGDTJ/VIVI-ARGENTINA-ENTRE-RIOS-EL-PALMAR.jpg");
    background-size: cover;
    background-position: center;
    border-right: 1px solid black;
}